a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #11998E;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
}

h1 {
  color: #00909E;
  font-size: 4.625rem;
  font-family: Sacramento, cursive;
  padding: 3.625rem 0 0 0;
  margin: 0;
  font-weight: bold;
}

h2 {
  color: #00909E;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #00909E;
}

hr {
  border: dotted #DAE1E7 5px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}


.header-img {
  border-radius: 20%;
  height: 5rem;
  width: 5rem;
}
 .my-top-nav-bar {
  background-color: #DAE1E7;
}

.header-description {
  padding: 0 0 4.625rem 0;
  font-weight: 500;
}

.top-container {
  background-color: #DAE1E7;
  padding: 0;
}

.middle-container {
  padding: 3rem 0 3rem 0;
}

.middle-heading {
  margin: 2rem 0 0 0;

}

.middle-img {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img1 {
  width: 25%;
  border-radius: 70%;
  float: left;
  margin-right: 30px;
  padding: 2rem 0 2rem 0;
}

.code-img2 {
  width: 25%;
  border-radius: 70%;
  float: right;
  margin-left: 30px;
  padding: 2rem 0 2rem 0;
}

.bottom-container {
  background-color: #DAE1E7;
  padding: 2rem 0 0 0;
  margin:2rem auto 0 auto;
}

.contact-me {
  margin-bottom: 3rem;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 3px #666666;
  -moz-box-shadow: 4px 4px 3px #666666;
  box-shadow: 4px 4px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  font-size: 20px;
  background: #00909E;
  padding: 10px 25px 10px 25px;
  margin: 5.625rem 0 5.625 0;
  text-decoration: none;
}

.btn:hover {
  background: #00907E;
  text-decoration: none;
  color: #40516E;
}

.footer-link {
  font-weight: normal;
  font-size: 0.9rem;
  padding:0 2rem 0 2rem;
}

.copyright {
  font-size: 0.75rem;
  padding: 2rem 0 2rem 0;
}

.copyright-name {
  color: #40514E;
  font-size: 0.75rem;
  font-family: Merriweather, serif;
  padding: 2rem 0 2rem 0;
  margin: 0;
  font-weight: normal;
}
